<div class="about-container">
  <div class="about">
    <div class="logo-w-title">
      <img src="./../../assets/logo.png">
      <h1>E-Learn</h1>
    </div>
    <h1 class="abtTitle">About Us</h1>
    <p>This is a website made for PS1 internship at MyWebPartner by a team of 6 members from BITS Pilani. E-Learn in
      concept is an online
      educational platform. On it, instructors can add courses curated by them. Students can enroll in those courses,
      watch videos in them, solve quizzes and track their progress. Please take note that the website has been made as a
      part of a hackathon
      so not all features will be full fledged.</p>
  </div>
</div>