<div class="hero-container">
  <div class="hero">
    <div class="text-box">
      <span class="main-heading"> Let's Grow Your Education Level Up With E-Learn. </span>
      <span class="sub-heading"> Learn anytime anywhere with experts. </span>
    </div>
    <div class="image-box">
      <img class="hero-img" src="./../../assets/hero-img.png">
    </div>
  </div>
</div>


<div class="process-container">
  <div class="process">
    <h1>Working Process for Join & Benifits</h1>
    <img src="./../../assets/process.png">
  </div>
</div>


<div class="lectures-container">
  <h1>Join a course, attend lectures and test yourself with quizzes.</h1>
  <img class="img1" src="./../../assets/lecture2.png">
</div>



<div class="instructor-apply">
  <div class="txtdiv">
    <h1>Become An Instructor?</h1>
    <p>Create an account and help the students.</p>
  </div>
  <div class="btndiv">
    <button class="applyBtn">Apply Now</button>
  </div>
</div>